.container {
    margin: 0 5vw 0 5vw;
    padding: 0 20px 0 20px;
    box-shadow: 0px 2px 4px #9F9F9F;
}

.inputElement {
    font-size: 25px;
    text-align: left;
}

.inputElement::placeholder {
    color: #9F9F9F;
}

.sendElement {
    color: #0092FF;
    align-self: center;
    justify-self: center;
    font-size: 30px;
}
