.container {
    display: flex;
    justify-content: center;
}

.default {
    font-weight: bold;
    color: white;
}

.borrowButton {
    font-weight: bold;
    font-size: 20px;
    width: 150px;
    height: 35px;
    --border-radius: 6px;
    box-shadow: 0px 4px 10px #9F9F9F;
}

.dropDownButton {
    width: 140px;
    height: 43px;

}

.iconDropDown {
    color: white;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 10px;
}

.dropDownSliderButton {

}

.iconDropDownSlider {

}

.FAQButton {
    
}
