.input {
    text-align: left;
    color: black;
    margin-left: 5vw;
    font-size: 20px;
  }

  .descriptionText {
    text-align: left;
    color: black;
    margin: 5vw;
    font-size: 20px;
  }

  .descrContainer {
    padding:1vh;
    height: 20vh;
  }

  .faq-button{
    text-align: center;
    margin-top: 5vh;
    margin-left: 15vw;
    margin-right: 15vw;
  }