.valueElement {
    border: solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-color: #82CAFF;
    border-width: 5px;
    color: black;
    text-align: center;
    padding-top: 10px;
}
