.base {
  margin-left: 25vw;
}
.talk-bubble {
	width: 50vw;
	height: auto;
  background-color: white;
}
.round{
  border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
/* talk bubble contents */
.talktext{
  padding: 0.5em;
	text-align: left;
  line-height: 1.1em;
}

.shadow {
  -webkit-box-shadow: -6px 5px 17px -8px rgba(0,0,0,0.29);
  -moz-box-shadow: -6px 5px 17px -8px rgba(0,0,0,0.29);
  box-shadow: -6px 5px 17px -8px rgba(0,0,0,0.29);
}
